html {
    /* 62.5 of 16px = 10px */
    font-size: 62.5%;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

:root {
    /* Primary colors */
    --color-green: #00856F;
    --color-green-light: #DCE9E2;
    --color-green-light-02: #F7F9F9;
    --color-beige: #FFFAF1;
    --color-green-hover: #00453A;

    /* Secondary Colors */
    --color-gray-headline: #212529;
    --color-gray-paragraph: #495057;
    --color-white: #fff;
}

.paragraph-size {
    font-size: 1.6rem;
}

.paragraph-color {
    color: var(--color-gray-paragraph);
}

body {
    font-family: "DM Sans", sans-serif;
}

.container {
    width: 100%;
    background-color: var(--color-green-light);
}

.container-size {
    width: 110rem;
    margin: 0 calc(50% - 55rem);
}


/* Header section */

.container > .header-menu{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 4rem 0;
    height: 15rem;
}


.header-menu > .navbar {
    display: flex;
    gap: 3rem;
}



.header-menu > .navbar > a {
    border: transparent;
    padding-bottom: 1rem;
    border-bottom: 2px solid transparent;
   
}

.header-menu > nav > a:hover {
   border-bottom: 2px solid var(--color-green);
}


.header-nav {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--color-green);
}

.header-btn {
    font-weight: 700;
    padding: 0.8rem 2rem;
    border: 2px solid var(--color-green);
    border-radius: 22px;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--color-green);
}

.header-btn:hover {
    color: var(--color-white);
    background-color: var(--color-green-hover);
    border: 2px solid transparent;
}


.menu-btn {
    position: absolute;
    right: 14%;
    color: var(--color-white);
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
}
/* Hero section */


.hero-section,
.hero {
    background-color: var(--color-green-light);
}


.hero-section >.hero {
    display: flex;
    height: 70vh;
    flex-direction: row;
    
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.head-text {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-green);
}

.title {
    font-size: 5.2rem;
    font-weight: 700;
    color: var(--color-gray-headline);
}

.left-column > .subtitle {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-gray-paragraph);
}

.btn-hero {
    width: 26.3rem;
    height: 5.2rem;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--color-white);
    background: var(--color-green);
    border: 2px solid transparent;
    border-radius: 26px;
    cursor: pointer;
}

.fa-whatsapp {
    padding-right: 1.6rem;
}

.btn-hero:hover {
    background: var(--color-green-hover);
}

 .hero-section > .right-column  {
    display: flex;
    justify-content: center;
    align-content: end;
}

.footer-section > .footer {
    position: relative;
}

.statistics {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 21rem;
    background-color: var(--color-beige);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-section > .hero {
    position: relative;
}


.statistics > .statistics-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 36.5rem;
    height: 8rem;
}



.statistics-box > .statistics-title {
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--color-gray-headline);
}

.statistics-box > .statistics-text {
    font-weight: 400;
    color: var(--color-green);
}

.middle-statistics-box {
    border-left: 1px solid var(--color-green);
    border-right: 1px solid var(--color-green);
}


/* Service section */

.service-section > .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.service-section,
.service {
    height: 110rem;
}


.service-section,
.service {
    background-color: var(--color-green-light-02);
}

.service-title {
    width: 17ch;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-gray-headline);
}

.service > .cards-services {
    display: grid;
    width: 100%;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(2, 21rem);
    grid-template-columns: repeat(3, 34rem);
    margin-top: 50px;
    gap: 4rem;
}



.cards-services > .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem 0;
    padding:0 1.5rem;
    width: 33rem;
    height: 20rem;
    background-color: var(--color-white);
}

.card > .fa-check {
    padding: 1rem;
    color: var(--color-green);
    background-color: var(--color-green-light);
    border-radius: 15px;
}

.card > .card-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-gray-headline);
}


/* About section */

.about-section,
.about {
    background-color: var(--color-beige);
}

.about-section > .about {
    display: flex;
    height: 100rem; 
    flex-direction: row;
    align-items: center;
    gap: 0 4rem;
}


.about-right-column > .title {
    font-size: 4rem;
    color: var(--color-gray-headline);
    margin: 2rem 0;
}



/* Contacts section */

.contacts-section > .contacts {
    display: flex;
    height: 100rem; 
    flex-direction: row;
    align-items: center;
    gap: 0 4rem;
}

.contacts-left-column > .title {
    width: 14ch;
    font-size: 4rem;
    color: var(--color-gray-headline);
}

.contacts-left-column > .contacts-text {
    margin: 2rem 0;
}

.footer-section,
.footer {
    background-color: var(--color-green);
}

.footer-section > .footer {
    display: flex;
    height: 30vh; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.footer-left-column > .footer-logo {
    margin-bottom: 2rem;
}

.footer-left-column > .footer-text {
    color: var(--color-white);
    margin: 2rem 0;
}


.footer-right-column > .footer-icon {
    font-size: 2.4rem;
    color: var(--color-white);
    margin: 0 1rem;
    text-decoration: none;
}

.footer-icon:hover {
    color: var(--color-green-hover);
}

#click {
    display: none;
}

@media (max-width: 110rem) {
    .container-size {
        width: 80rem;
        margin: 0 calc(50% - 40rem);
    }


    .hero-section >.hero {
        height: 75rem;
    }

    .hero > .right-column  {
        display: flex;
        align-items: center;
    }

    .statistics > .statistics-box {
        width: 27rem;
    }

    .service-section,
    .service {
        height: 150rem;
    }


    .service > .cards-services {
        grid-template-rows: repeat(3, 21rem);
        grid-template-columns: repeat(2, 34rem);
        gap: 7rem;
    }

    .cards-services > .card {
        width: 38rem;
        height: 25rem;
    }

    .contacts-section > .contacts {
        gap: 0;
    }

    .about-section > .about {
        height: 80rem;
    }

    .contacts-section > .contacts {
        height: 80rem;
    }

    .contacts-right-column > .contacts-img {
        width: 41rem;
        height: 30rem;
        object-fit: cover;
        border-radius: 1rem;
    }

    
}

@media (max-width: 65rem) {
    .container-size {
        width: 60rem;
        margin: 0 calc(50% - 30rem);
    }
    
    .header-menu > .header-btn,
    .header-menu > .navbar {
        display: none;
    }

    .header-menu > .menu-btn {
        display: block;
    }


    #click:checked ~ nav {
        left: 0;
    }
    
    .hero-section > .hero {
        height: 108rem;
    }

    .hero-section > .hero,
    .hero > .left-column,
    .hero > .right-column {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-items: start;
    }

    .statistics {
        flex-direction: column;
        width: 43rem;
        height: 47rem;
    }

    .statistics > .statistics-box {
        border: 0;
    }

    .service-section,
    .service {
        height: 220rem;
    }

    .service-section > .service {
        justify-content: end;
        padding-bottom: 10rem;
    }

    .service > .cards-services {
        grid-template-rows: repeat(6, 21rem);
        grid-template-columns: repeat(1, 34rem);
        gap: 7rem;
    }

    .cards-services > .card {
        width: 43rem;
        height: 22rem;
    }

    .about-section > .about {
        flex-direction: column-reverse;
        justify-content: center;
        height: 97rem;
        gap: 4rem 0;
    
    }

    .about > .about-right-column {
        justify-items: center;
    }

    .contacts-section > .contacts {
        flex-direction: column;
        justify-content: center;
        height: 80rem;
        gap: 4rem 0;
    }

    .contacts-right-column > .contacts-img {
        width: 48rem;
        height: 42rem;
        object-fit: cover;
        border-radius: 1rem;
    }

}

@media (max-width: 700px) {
    .container > .row,
    .container > .row-short {
        width: 400px;
        margin: 0 calc(50% - 200px);
    }
}

@media (max-width: 440px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .container > .row,
    .container > .row-short {
        width: 100%;
        margin: 0;
    }
}