html {
    /* 62.5 of 16px = 10px */
    font-size: 62.5%;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

:root {
    /* Primary colors */
    --color-green: #00856F;
    --color-green-light: #DCE9E2;
    --color-green-light-02: #F7F9F9;
    --color-beige: #FFFAF1;
    --color-green-hover: #00453A;

    /* Secondary Colors */
    --color-gray-headline: #212529;
    --color-gray-paragraph: #495057;
    --color-white: #fff;
}

body {
    font-family: "DM Sans", sans-serif;
}

.container {
    width: 100%;
   
    background-color: var(--color-green-light);
}

.container-size {
    width: 110rem;
    margin: 0 calc(50% - 55rem);
}


/* Header section */

.container > .header-menu {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem 0;
    height: 7.2rem;
    
}

.header-menu > nav {
    display: flex;
    gap: 3rem;
}

.header-menu > nav > a {
    border: transparent;
    padding-bottom: 1rem;
    border-bottom: 2px solid transparent;
   
}

.header-menu > nav > a:hover {
   border-bottom: 2px solid var(--color-green);
}


.header-nav {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--color-green);
}

.header-btn {
    font-weight: 700;
    padding: 0.8rem 2rem;
    border: 2px solid var(--color-green);
    border-radius: 22px;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--color-green);
}

.header-btn:hover {
    color: var(--color-white);
    background-color: var(--color-green-hover);
    border: 2px solid transparent;
}

/* Hero section */


.hero-section,
.hero {
    background-color: var(--color-green-light);
}


.hero-section >.hero {
    display: flex;
    height: 70vh;
    flex-direction: row;
    
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
}

.right-column {
    width: 50%;
    
}

.head-text {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-green);
}

.title {
    font-size: 5.2rem;
    font-weight: 700;
    color: var(--color-gray-headline);
}

.left-column > .subtitle {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-gray-paragraph);
}

.btn-hero {
    width: 26.3rem;
    height: 5.2rem;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--color-white);
    background: var(--color-green);
    border: 2px solid transparent;
    border-radius: 26px;
    cursor: pointer;
}

.btn-hero:hover {
    background: var(--color-green-hover);
}

.fa-whatsapp {
    padding-right: 1.6rem;
}


 .hero-section > .right-column  {
    display: flex;
    justify-content: center;
    align-content: end;
}

.hero-section {
    position: relative;
}

.statistics {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 110rem;
    height: 21rem;
    background-color: var(--color-beige);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.statistics > .statistics-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 37rem;
    height: 8rem;
}

.statistics-box > .statistics-title {
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--color-gray-headline);
}

.statistics-box > .statistics-text {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-green);
}

.middle-statistics-box {
    border-left: 1px solid var(--color-green);
    border-right: 1px solid var(--color-green);
}


/* Service section */

.service-section > .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.service {
    height: 108rem;
}


.service-section,
.service {
    background-color: var(--color-green-light-02);
}

.service-title {
    width: 17ch;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-gray-headline);
}

.service > .cards-services {
    display: grid;
    width: 100%;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(2, 21rem);
    grid-template-columns: repeat(3, 34rem);
    margin-top: 50px;
    gap: 4rem;
}



.cards-services > .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem 0;
    padding:0 1.5rem;
    width: 33rem;
    height: 20rem;
    background-color: var(--color-white);
}

.card > .fa-check {
    padding: 1rem;
    color: var(--color-green);
    background-color: var(--color-green-light);
    border-radius: 15px;
}

.card > .card-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-gray-headline);
}

.card > .card-text {
    font-size: 1.6rem;
    color: var(--color-gray-paragraph);
}

/* About section */

.about-section,
.about {
    background-color: var(--color-beige);
}

.about-section > .about {
    display: flex;
    height: 100vh; 
    flex-direction: row;
    align-items: center;
    gap: 0 4rem;
}


.about-right-column > .title {
    font-size: 4rem;
    color: var(--color-gray-headline);
    margin: 2rem 0;
}

.about-right-column > .about-text {
    font-size: 1.6rem;
    color: var(--color-gray-paragraph);
}

/* Contacts section */

.contacts-section > .contacts {
    display: flex;
    height: 100vh; 
    flex-direction: row;
    align-items: center;
    gap: 0 4rem;
}

.contacts-left-column > .title {
    width: 14ch;
    font-size: 4rem;
    color: var(--color-gray-headline);
}


.contacts-left-column > .contacts-text {
    font-size: 1.6rem;
    color: var(--color-gray-paragraph);
    margin: 2rem 0;
}


.footer-section,
.footer {
    background-color: var(--color-green);
}

.footer-section > .footer {
    display: flex;
    height: 30vh; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.footer-left-column > .footer-logo {
    margin-bottom: 2rem;
}

.footer-left-column > .footer-text {
    font-size: 1.6rem;
    color: var(--color-white);
    margin: 2rem 0;
}


.footer-right-column > .footer-icon {
    font-size: 2.4rem;
    color: var(--color-white);
    margin: 0 1rem;
    text-decoration: none;
}

.footer-icon:hover {
    color: var(--color-green-hover);
}